.align{
    display: flex;
}

.align h1{
    top: 24px;
    left: 61px;

    position: absolute;
}

.align nav{
    display: flex;

    left: 557px;

    position: absolute;
}

.align nav ul{
    display: flex;
    list-style-type: none;
}

.align nav ul li{
    padding: 44px;
}